[push]
	default = current

[grep]
	lineNumber = true

[color]
	ui = true

[color "branch"]
	upstream = red bold 

[color "diff"]
	#meta = bold blue 
	meta = black white 
	func = white ul
	frag = black cyan

[color "status"]
	branch = black green
	untracked = black red
	nobranch = black red

[alias]
	st = status -sb
	co = checkout
	ci = commit
	dss = diff --stat
	ds = diff --shortstat
        dc = diff --cached
	dw = diff --color-words

	branches = branch -lvv

#	log
	l = log --graph --oneline --decorate
	ls = log --graph --format=short --decorate
	lm = log --graph --format=medium --decorate
	lg = log --graph --pretty='%C(black white)%h%C(reset) %C(yellow)%s%C(reset) %C(red)- %an,%C(reset) %C(cyan)%ar %C(reset)%C(auto)%d'
	lg2 = log --graph --pretty='%C(black white)%h%C(reset) %C(red)- %an,%C(reset) %C(cyan)%ar %C(reset)%C(auto)%d%n%C(yellow)%s%C(reset)'
	lgg = log --graph --pretty='%C(black white)%h%C(reset) %C(yellow)%s%C(reset) %C(red)- %an %C(magenta)<%ae>, %C(reset) %C(cyan)%ar %C(blue bold)(%ad) %C(reset)%C(auto)%d'
	lgg2 = log --graph --pretty='%C(black white)%h%C(reset) %C(red)- %an %C(magenta)<%ae>, %C(reset) %C(cyan)%ar %C(blue bold)(%ad) %C(reset)%C(auto)%d%n%C(yellow)%s%C(reset)'
	lggg = log --graph --pretty='%C(black white)%h%C(reset) %C(yellow)%s%C(reset) %C(red)- %an %C(magenta)<%ae>, %C(reset) %C(cyan)%ar %C(blue bold)(%ad) %C(reset)%C(auto)%d %+b'
	lggg2 = log --graph --pretty='%C(black white)%h%C(reset) %C(red)- %an %C(magenta)<%ae>, %C(reset) %C(cyan)%ar %C(blue bold)(%ad) %C(reset)%C(auto)%d %n%C(yellow)%s %C(white)%+b'

	today = !git lg --since='0:0 am'
	yesterday = !git lg --since='yesterday'
	week = !git lg --since='7 day'

#	file status
	unmerged = !git status -s | grep '^UU' | sed 's/UU //g'
	untracked = ls-files --others
	ignored = ls-files --ignored --exclude-standard
    	deleted = log --summary --pretty='%+C(yellow)%H%C(reset)' --diff-filter=D

#	utils
	wipe = !git reset --hard HEAD && git clean -df
	wipe-all = !git reset --hard HEAD && git clean -dfx && git clean -dfX
	# $0 - commitish, $1 - archive name prefix
	pack = !sh -c 'git archive -vvv -o $1-$(git rev-parse --short $0).zip $0'
	branch-only = !git log $(git rev-list $1..master | tail -1)^..$1
	head = rev-parse HEAD

#   OS X - specific
	cphead = !git rev-parse HEAD | pbcopy
	cphd = !git rev-parse --short HEAD | pbcopy

[diff]
	tool = vimdiff	

[merge]
	tool = vimdiff 

[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	pager = more -R --ignore-case

